<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92851831822-eraie6fvpupfegait2i87socb2guq05i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92851831822-eraie6fvpupfegait2i87socb2guq05i</string>
	<key>API_KEY</key>
	<string>AIzaSyCcfiID2blY-QVcuvTQfIi87S6SUj1SQ_E</string>
	<key>GCM_SENDER_ID</key>
	<string>92851831822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findSinger</string>
	<key>PROJECT_ID</key>
	<string>find-singer</string>
	<key>STORAGE_BUCKET</key>
	<string>find-singer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92851831822:ios:a074c029aa37bf2da0685f</string>
	<key>DATABASE_URL</key>
	<string>https://find-singer-default-rtdb.firebaseio.com</string>
</dict>
</plist>